body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-transform: uppercase;
    background-color: rgb(231, 186, 160);
}

.kontainer{
    display: grid;
    grid-template-areas: "header header"
                         "nav nav"
                         "main main"
                         "footer footer";
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.2fr 0.5fr 1fr auto;
    box-sizing: border-box;
    border: none black solid;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(57, 63, 49);
    padding: 30px;
    margin-bottom: 10px;
    grid-area: header;
    height: 50px;
    border-radius: 20px 30px;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(120, 168, 57);
    padding: 30px;
    margin-bottom: 10px;
    grid-area: nav;
    border-radius: 10px 30px;
    justify-content: space-between;
}

main{
    display: flex;
    align-items: center;
    background-color: rgb(120, 168, 57);
    padding: 30px;
    margin-bottom: 10px;
    grid-area: main;
    border-radius: 10px 30px;
}

footer{
    display: flex;
    align-items: center;
    background-color: rgb(120, 168, 57);
    padding: 30px;
    margin-bottom: 10px;
    grid-area: footer;
    border-radius: 10px 30px;
}
.form {
    display: flex;
    align-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: chocolate;
    padding: 30px;
    width: 350px;
    position: relative;
    left: 450px;
}

.hasil{
    display: flex;
    align-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: chocolate;
    padding: 30px;
    width: 280px;
    margin-top: 20px;
    position: relative;
    left: 450px;
}

img {
    width: 300px;
    height: 200px;
    border-radius:  25px 25px 0 0;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 4px 8px 3px Gainsboro;
}
