body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(213, 206, 163);
    color: white;
}

/* Mengatur Grid Tampilan Home */
.grid{
    display: grid;
    grid-template-areas: "header header header"
                         "aside main nav "
                         "aside footer footer";
    grid-template-columns: 0.3fr 1fr auto;
    grid-template-rows: 0.2fr 1fr 0.5fr;
    gap: 20px;
}
/* Mengatur Header */
header {
    align-items: center;
    grid-area: header;
    background-color: rgb(57, 62, 70);
    padding: 20px;
    color: white;
    border-radius: 60px 60px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 30px;
}


/* Mengatur Aside */

aside{
    display: grid; /* Menggunakan CSS Grid untuk elemen aside */
    grid-template-rows: auto auto; /* Menentukan dua baris, masing-masing mengikuti konten (auto) */
    grid-area: aside;
    background-color: rgb(109, 152, 134);
    padding: 20px;
    border-radius: 10px 0px 0px 60px;
}


/* Mengatur nav dan main */
main{
    align-items: center;
    grid-area: main;
    background-color: rgb(109, 152, 134);
    padding: 20px;
}

nav{
    align-items: center;
    grid-area: nav;
    background-color: rgb(109, 152, 134);
    padding: 20px;
    border-radius: 0px 10px 0px 0px; 
}

/* Mengatur Footer */
footer{
    grid-area: footer;
    background-color: rgb(57, 62, 70);
    padding: 50px;
    border-radius: 0px 0px 60px 0px; 
}

/* mengatur img */
img{
    width: 280px;
    height: 200px;
    border: 10px solid white;
}

figure{
    background-color: white;
    border: 10px solid white;
}
figcaption{
    background-color: white;
    border: 20px solid white;
    color: black;
    font-family: fantasy;
}

#kotak-komentar{
    float: inline-end;
    margin-left: 50px;
    padding: 10px;
}

.form{
    float: inline-start;
    margin-right: 100px;
}

.cc{
    clear: both;
}